body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  border-color: white;
  border: none;
  border-radius: 2rem;
 width: 28rem;
 height:2.8rem;
}